<div class="reset-container">
  <div class="reset-instructions">
    <h1>Skill<span style="color: #85d38a;">hive</span></h1>
    <h3>Reset your password</h3>
    <ul>
      <li>✔️ Enter your email id</li>
      <li>✔️ We'll verify your email id if you have an account with us.</li>
      <li>✔️ Create a new password.</li>
      <li>✔️ Success! Login again.</li>
    </ul>
    <a href="#" class="back-to-login">← Back to login</a>
  </div>

  <div class="reset-form">
    <img src="assets/Images/fingerprint-icon.jpg" alt="Fingerprint Icon" class="icon" />
    <h2>Create a new password</h2>
    <p>Please choose a password with at least 6 characters.</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <input id="newPassword" formControlName="newPassword" type="password" placeholder="Enter new password" />
      <input id="confirmPassword" formControlName="confirmPassword" type="password"
        placeholder="Confirm new password" />
      <button type="submit" [disabled]="!resetPasswordForm.valid">Reset Password!</button>
    </form>
  </div>
</div>