<!DOCTYPE html>
<html lang="en">
<head>
  <title>Instructor Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="instructor-dashboard.component.css">
</head>

<body>
  <div class="dashboard-container">
    <!-- Sidebar Section -->
    <aside class="sidebar">
      <div class="logo"><span class="skill">Skill</span><span class="hive">hive</span></div>

      <ul class="selections">
        <li class="sel1" routerLink="/instructor-dashboard">
          <img src="https://img.icons8.com/?size=30&id=14096&format=png&color=C2DBC6" alt="home icon">
          <span>Dashboard</span>
        </li>

        <li class="sel2" routerLink="/instructor-timetable">
          <img src="https://img.icons8.com/?size=30&id=GirzvjIPde0n&format=png&color=C2DBC6" alt="courses">
          <span>Timetable</span>
        </li>

        <li class="sel3" routerLink="/profile-update">
          <img src="https://img.icons8.com/?size=30&id=82751&format=png&color=C2DBC6" alt="profile">
          <span>Update Profile</span>
        </li>
      </ul>

      <div class="extras">
        <div class="user" routerLink="/profile-update">
          <img src="https://img.icons8.com/?size=30&id=15263&format=png&color=C2DBC6" alt="user">
          <span>User Profile</span>
        </div>
        <div class="logout" routerLink='/login'>
          <img src="https://img.icons8.com/?size=30&id=vGj0AluRnTSa&format=png&color=C2DBC6" alt="logout">
          <span>Logout</span>
        </div>
      </div>
    </aside>

    <!-- Main Section -->
    <div class="main">
      <div class="message">
        <p>Welcome back, <span class="admin">{{ currentInstructor }}</span>! Let's get to work.</p>
      </div>
    
      <div class="calendar-section">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 SkillHive</p>
    <ul>
      <li><span id="terms">Terms of Services</span></li>
      <li><span id="privacy">Privacy Policy</span></li>
      <li><span id="contact">Contact Us</span></li>
    </ul>
    <div id="social-media">
      <span><i class="fab fa-facebook-f"></i></span>
      <span><i class="fab fa-twitter"></i></span>
      <span><i class="fab fa-instagram"></i></span>
    </div>
  </footer>
</body>
</html>
