<!DOCTYPE html>
<html lang="en">
<head>
  <title>Instructor Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="dashboard">
    <aside class="sidebar">
        <div class="logo">
            <span class="skill">Skill</span><span class="hive">hive</span>
        </div>
        <div class="selections">
            <div class="sel1">
                <a [routerLink]="['/instructor-dashboard' ]" class="sidebar-link">
                    <img src="https://img.icons8.com/?size=30&id=14096&format=png&color=C1DBC6" alt="home icon">
                    Dashboard
                </a>
            </div>
            <div class="sel1">
              <a [routerLink]="['/instructor-timetable']" class="sidebar-link">
                  <img width="26" height="26" src="https://img.icons8.com/?size=30&id=GirzvjIPde0n&format=png&color=C2DBC6" alt="todo-list">
                  Timetable
              </a>
          </div>
        
            
            <div class="sel1">
                <a [routerLink]="['/viewassessment']" class="sidebar-link">
                    <img width="26" height="26" src="https://img.icons8.com/?size=100&id=4022&format=png&color=C1DBC6" alt="todo-list">
                    View Assessments
                </a>
            </div>
            <div class="sel1">
                <a [routerLink]="['/view-candidates']" class="sidebar-link">
                    <img width="27" height="27" src="https://img.icons8.com/?size=100&id=LK2tNJ1EaZJK&format=png&color=C1DBC6" alt="results">
                    View Candidates
                </a>
            </div>
        </div>
        <div class="extras">
            <div class="user">
                <a [routerLink]="['/profile-update']" class="sidebar-link">
                    <img src="https://img.icons8.com/?size=30&id=15263&format=png&color=c1dbc6" alt="user">
                    {{ currentInstructor }}
                </a>
            </div>
            <div class="logout">
              <a (click)="logout()" class="sidebar-link">
                <img src="https://img.icons8.com/?size=30&id=vGj0AluRnTSa&format=png&color=c1dbc6" alt="logout">
                Logout
              </a>              
            </div>
        </div>
    </aside>

    <!-- Main Section -->
    <div class="main">
      <div class="message">
        <p>Welcome back, <span class="admin">{{ currentInstructor }}</span>! Let's get to work.</p>
      </div>
    
      <div class="calendar-section">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 SkillHive</p>
    <ul>
      <li><span id="terms">Terms of Services</span></li>
      <li><span id="privacy">Privacy Policy</span></li>
      <li><span id="contact">Contact Us</span></li>
    </ul>
    <div id="social-media">
      <span><i class="fab fa-facebook-f"></i></span>
      <span><i class="fab fa-twitter"></i></span>
      <span><i class="fab fa-instagram"></i></span>
    </div>
  </footer>
</body>
</html>
