<!-- Navbar -->
<header>
    <nav class="navbar">
        <div class="logo"><b>Skill</b><span>hive</span></div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#courses">Courses</a></li>
            <li><a href="#trainers">Our Trainers</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="left-section">
        <div class="learning">
            <img src="https://i.imgur.com/m0OuPNi.png" alt="LifeLongLearning" class="image-placeholder">
        </div>
        <h1 class="title">Skillhive Learning Nexus</h1>
        <p class="subtitle">Transforming skills into mastery</p>
    </div>
    <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="email">Email:</label>
            <input id="email" type="email" class="input-field" formControlName="email" placeholder="Enter your email" />
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <small class="error-message">Email is required and must be valid.</small>
            </div>

            <label for="password">Password:</label>
            <input id="password" type="password" class="input-field" formControlName="password"
                placeholder="Enter your password" />
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <small class="error-message">Password is required and must be at least 6 characters long.</small>
            </div>

            <label for="role">Role:</label>
            <select id="role" class="input-field role-select" formControlName="role" (change)="onRoleChange($event)">
                <option value="admin">Admin</option>
                <option value="instructor">Instructor</option>
                <option value="candidate">Candidate</option>
            </select>
            <!-- Add the Forgot Password Link -->
            <p class="forgot-password-link">
                Forgot your password?
                <a (click)="navigateToForgotPassword()" >Click here</a>
            </p>
            <br>
            <button class="signin-button" type="submit" [disabled]="loginForm.invalid">
                Sign in
            </button>
            <br>
            <div *ngIf="showRegisterLink" class="register-link">
                <a (click)="redirectToRegister()">Are you new? Register for an Account</a>
            </div>

        </form>
    </div>

</div>
<!-- Footer -->
<footer class="footer">
    <div class="footer-top">
        <p>&copy; 2025 SkillHive</p>
        <div class="social-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="#" class="social-icon"><img src="assets/Images/insta.png" alt="Instagram" class="social-img"
                id="insta"></a>
        <a href="#" class="social-icon"><img src="assets/Images/twitter.png" alt="Twitter" class="social-img"
                id="twitter"></a>
        <a href="#" class="social-icon"><img src="assets/Images/linkedin.png" alt="LinkedIn" class="social-img"
                id="linkedin"></a>
        <a href="#" class="social-icon"><img src="assets/Images/utube.png" alt="YouTube" class="social-img"
                id="utube"></a>
    </div>
</footer>