body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.scores-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C1DBC6;
}
.scores-card {
    background-color: #e9f3e6; /* Light green background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 450px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.result-section {
    margin: 20px 0;
}

.result-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.result-item .label {
    font-weight: bold;
    color: black;
}

.result-item .value {
    font-weight: 500;
    color:  black;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.actions button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #388e3c; 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #388e3c;
}
