<header>
    <div><strong>SkillHive</strong></div>
    <div class="nav">
        <a href="/dashboard">Home</a>
        <a href="#">Helpdesk</a>
        <a href="#">View Profile</a>
    </div>
  </header>
  
  <div class="container">
    <nav class="sidebar">
        <div style="font-family: Arial, sans-serif; font-size: 24px; padding-left: 60px;">
            <span style="color: #D5F1E5;">Skill</span><span style="color: #66C38E;">hive</span>
        </div>
        <ul>
          <li><a [routerLink]="['/enrolled-courses', user?.id]">Enrolled Courses</a></li>
          <li><a [routerLink]="['/upcoming-courses', user?.id]">Upcoming Courses</a></li>
          
            <li><a [routerLink]="['/assessments']">Assessments</a></li>
            <li><a [routerLink]="['/results']">Results</a></li>
            <li><a [routerLink]="['/profile', user?.id]">Profile Update</a></li>
  
            <li><a [routerLink]="['/login']">Logout</a></li>
        </ul>
    </nav>
  
  
    <div class="courses">
      <h2>Enrolled Courses</h2>
      <div class="courses-row">
          <div *ngFor="let course of enrolledCourses" class="course-card">
              <h3>{{ course.courseName }}</h3>
              <p><strong>Category:</strong> {{ course.courseCategory }}</p>
              <p><strong>Duration:</strong> {{ course.courseDurationInMonths }} months</p>
              <p><strong>Instructor:</strong> {{ course.instructorName }}</p>
              <p><strong>Start Date:</strong> {{ course.startDate }}</p>
              <p><strong>End Date:</strong> {{ course.endDate }}</p>
              <button class="enroll-btn">Enrolled</button>
          </div>
      </div>
  </div>
  </div>
  