<header>
    <div><strong></strong></div>
    <div class="nav">
        <a href="Dashboard.html">Home</a>
        <a href="#">Helpdesk</a>
        <a href="#">View Profile</a>
    </div>
</header>

<div class="container">
    <nav class="sidebar">
        <div style="font-family: Arial, sans-serif; font-size: 24px; padding-left: 60px;">
            <span style="color: #D5F1E5;">Skill</span><span style="color: #66C38E;">hive</span>
        </div>
        <ul>
            <li><a href="/enrolled-courses">Enrolled Courses</a></li>
        <li><a href="/upcoming-courses">Upcoming Courses</a></li>
        <li><a href="/assessments">Assessments</a></li>
        <li><a href="/results">Results</a></li>
        <!-- <li><a href="/time-table">Time Table</a></li> -->
        <li><a href="/profile-update">Profile Update</a></li>
        <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <div class="card">
            <h2>Welcome to your Dashboard</h2>
            <p>Here you can access your courses, assessments, results, and more.</p>
        </div>
    </div>
</div>